
*{
    background-color: #333;
    color: #fff;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 0; /* Espaciado interno superior e inferior */
    text-align: center; /* Alinear texto al centro */
}

.navbar a {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none; /* Quitar subrayado de los enlaces */
    margin: 0 10px; /* Margen horizontal entre los enlaces */
}

.navbar a:hover {
    text-decoration: underline; /* Subrayar enlaces al pasar el mouse sobre ellos */
}

