
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Año</th>
        <th scope="col">Mes</th>
        <th scope="col">Conocimiento</th>
        <th scope="col">Listening</th>
      </tr>
    </thead>
    
    <tbody>
      {% for examenes in include.examenes %}
      <tr>
        <td>{{examenes.ano}}</td>
        {% if examenes.mes %}
        <td>{{examenes.mes}}</td>
        {% else %}
        <td>--</td>
        {% endif %}
        <td><a href="{{examenes.link}}" class="" target="_blank">Examen
        </a>
          {% if examenes.respuestas %}
            <a href="{{examenes.respuestas}}" class="" target="_blank"> [Respuestas]</a>
          {% endif %}
        </td>
        {% if examenes.choukai %}
        <td><a href="{{examenes.choukai}}" class="" target="_blank">Audio</a></td>
        {% else %}
        <td>No hay :(</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
    
  </table>