
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Month</th>
        <th scope="col">Test</th>
        <th scope="col">Listening</th>
      </tr>
    </thead>
    
    <tbody>
      {% for examenes in include.examenes %}
      <tr>
        <td>{{examenes.ano}}</td>
        {% if examenes.mes %}
        <td>{{examenes.mes}}</td>
        {% else %}
        <td>--</td>
        {% endif %}
        <td><a href="{{ '/view/' | relative_url }}?dato={{examenes.link}}" class="" target="_blank">試験
        </a>
          {% if examenes.respuestas %}
            <a href="{{ '/view/' | relative_url }}?dato={{examenes.respuestas}}" class="" target="_blank"> [解答]</a>
          {% endif %}
        </td>
        {% if examenes.choukai %}
        <td><a href="{{ '/view/' | relative_url }}?dato={{examenes.choukai}}" class="" target="_blank">聴解問題</a></td>
        {% else %}
        <td>No hay :(</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
    
  </table>