<header>
    <div class="container-fluid bar">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand fuente" id="icono" href="{{ '/' | relative_url }}">DokuGaku Nihongo! 独学日本語！</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav md-auto mt-lg-0 ">
              <li class="nav-item">
                <a class="nav-link fuente" href="{{ '/' | relative_url }}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fuente" href="{{ '/herramientas/' | relative_url }}">Herramientas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fuente" href="#">Examenes(JLPT)</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fuente" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Recursos
                </a>
                <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">N5</a></li>
                  <li><a class="dropdown-item" href="#">N4</a></li>
                  <li><a class="dropdown-item" href="#">N3</a></li>
                  <li><a class="dropdown-item" href="#">N2</a></li>
                  <li><a class="dropdown-item" href="#">N1</a></li>
                  <li><a class="dropdown-item" href="#">Extras</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link fuente" href="{{ '/about/' | relative_url }}">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fuente" href="#">Apoyo</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
</header>


  