<header>
    <div class="container-fluid ">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand fuente" id="icono" href="{{ '/' | relative_url }}">DokuGaku Nihongo! 独学日本語！</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav md-auto mt-lg-0 ">
              <li class="nav-item">
                <a class="nav-link fuente" href="{{ '/' | relative_url }}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fuente" href="{{ '/herramientas/' | relative_url }}">Herramientas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fuente" href="{{ '/examenes/' | relative_url }}" onclick="window.open('https://www.highcpmgate.com/qkkjsihdez?key=ec47e0c93192ca69129621533756f415', '_blank')">Exámenes(JLPT)</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fuente" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Recursos
                </a>
                <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item " href="{{ '/nivel/n5' | relative_url }}" id="n5">N5</a></li>
                  <li><a class="dropdown-item" href="{{ '/nivel/n4' | relative_url }}"id="n4">N4</a></li>
                  <li><a class="dropdown-item" href="{{ '/nivel/n3' | relative_url }}">N3</a></li>
                  <li><a class="dropdown-item" href="{{ '/nivel/n2' | relative_url }}">N2</a></li>
                  <li><a class="dropdown-item" href="{{ '/nivel/n1' | relative_url }}">N1</a></li>
                  <li><a class="dropdown-item" href="{{ '/nivel/extras' | relative_url }}">Extras</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link fuente" href="{{ '/aportar/' | relative_url }}">Aportar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fuente" href="{{ '/donar/' | relative_url }}">Apoyo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fuente" href="https://discord.gg/RKKjkXFYxs" target="_blank">Discord</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
</header>


  