<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'es' }}">

  {% include head.html %}
  {% include analytics.html %}
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <!-- Cookie Banner -->
    <div id="cookie-banner" class="cookie-banner">
        <p>
            Utilizamos cookies para mejorar la experiencia del usuario y mostrar anuncios personalizados.
        </p>

        <button onclick="acceptCookies()">Aceptar</button>
        <button onclick="rejectCookies()">Rechazar</button>
    </div>

    <script>
    function acceptCookies(){
        localStorage.setItem("cookieConsent","accepted");
        document.getElementById("cookie-banner").style.display="none";
    }

    function rejectCookies(){
        localStorage.setItem("cookieConsent","rejected");
        document.getElementById("cookie-banner").style.display="none";
    }

    window.onload = function(){
        const consent = localStorage.getItem("cookieConsent");

        if(consent){
            document.getElementById("cookie-banner").style.display="none";
        }
    }
    </script>

  </body>

</html>
